*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  line-height: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.product {
  background-color: #fff;
}

.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* header-page */
.header-page {
  width: 100%;
  height: 75px;
  background-color: #303030;
  padding: 0 15px;
}

.nav-page {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header-icon h4 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.header-search {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: #fff;
  max-width: 500px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search {
  padding-right: 0.4rem;
}

.form-search {
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  max-width: 460px;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.items-search {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-search {
  margin-bottom: 10px;
}

.item-search span {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.form-search:focus-visible {
  box-shadow: none;
  outline: none;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-cart {
  margin-left: 1rem;
  position: relative;
}

@media screen and (min-width: 760px) {
  .header-cart {
    margin-left: 2rem;
  }
}

.header-heart {
  position: relative;
}

.count-option {
  position: absolute;
  right: -11px;
  top: -6px;
  background-color: rgb(247, 209, 40);
  border-radius: 50px;
  width: 22px;
  height: 22px;
  font-size: 10px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-content {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  min-height: 200px;
  height: auto;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 40px;
  border-radius: 4px;
}

/* main-page */

.main-page {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 100vh;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 760px) {
  .container {
    padding: 0 10px;
  }
}

/* products */
.products {
  width: 77%;
}

.products h5 {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: 0 10px;
}

.product-item {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

/* filter */
.products-filter {
  width: 23%;
}

.filter-card {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.filter-title {
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.title-section {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.filter-container {
  padding: 1rem;
}

/* filter-categories */

.filter-categories {
  margin-bottom: 2rem;
}

.filter-category-label {
  cursor: pointer;
}

.filter-category {
  margin-bottom: 0.5rem;
}

.filter-category-text {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  margin-left: 0.2rem;
}

/* rate-star */

.rate-star {
  margin-bottom: 0.5rem;
}

.filter-rate-label {
  display: flex;
  cursor: pointer;
}

.count-star {
  display: flex;
  margin-left: 0.2rem;
}

.star {
  font-size: 1rem;
  margin-left: 0.2rem;
}

/* section-Search */

.section-search {
  margin: 2rem 0;
  height: 100vh;
}

.section-search h6 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #5a5b5c;
  font-weight: 700;
  text-transform: capitalize;
}

.search-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.products-not-data {
  text-align: center;
}
/* card-item */

.card-item {
  background-color: #fff;
  border-radius: 8px;
  width: min-content;
  overflow: hidden;
  margin: 0 5px;
}

.card-body {
  padding: 10px 15px 30px 15px;
}

.card-content {
  position: relative;
}

.card-img {
  margin-bottom: 10px;
}

.card-title {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  word-break: break-all;
}

.card-price {
  margin-bottom: 5px;
}

.card-price span:last-child {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.card-price span:first-child {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.card-rate {
  margin-top: 10px;
}

.card-rate .star {
  color: #f5a523;
  font-size: 15px;
  font-weight: 500;
  vertical-align: top;
}

.card-rate .rate {
  margin-left: 5px;
  color: #f5a523;
  font-size: 15px;
  font-weight: 500;
  vertical-align: top;
}

.card-rate .count {
  margin-left: 5px;
  color: #6d6d6ca1;
  font-size: 13px;
  font-weight: 400;
}

/* section-product */
.section-product {
  margin-top: 2rem;
  margin-bottom: 3rem;
  height: 100vh;
}

.product-container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 0 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-image {
  margin-right: 2rem;
}

.image {
  max-width: 500px;
  max-height: 500px;
}

.product-info {
  width: 50%;
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .product-info {
    width: 100%;
  }
}

.product-info-CH {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.product-heart {
  cursor: pointer;
  margin-left: 1em;
}

.product-category {
  font-size: 1.2rem;
  color: rgb(126, 133, 155);
  text-transform: uppercase;
}

.product-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.6em;
  line-height: 30px;
}
.product-rate {
  margin-bottom: 0.6em;
  display: flex;
  align-items: center;
}
.product-star {
  background-color: rgb(56, 174, 4);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.1em 0.5em;
  border-radius: 4px;
  margin-right: 0.6rem;
}

.product-ratings {
  cursor: pointer;
  color: rgb(56, 102, 223) !important;
  position: relative;
  transition: all 0.2 ease-in 0s;
}

.product-ratings span {
  font-size: 0.8em;
  font-weight: 500;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0%;
  background-color: #3866df;
  width: 100%;
  height: 1px;
  transition: all 0.2 ease-in 0s;
}

.product-price {
  font-size: 1.4rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.884);
  margin-top: 1em;
}
.product-description {
  font-size: 1em;
  font-weight: 400;
  color: #5a5b5c;
  line-height: 25px;
  width: 90%;
}
.product-quantity-cart {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.product-quantity-a {
  position: relative;
}

.product-quantity-a h6 {
  position: absolute;
  top: -22px;
  font-weight: 600;
  text-transform: capitalize;
}

.product-quantity-select {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(42, 48, 70, 0.349);
  height: 48px;
  min-height: 38px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  cursor: pointer;
  transition: all 100ms ease 0s;
  text-align: center;
}

.product-quantity-select-open {
  box-shadow: rgb(43 76 215) 0px 0px 0px 1px;
  border-color: rgb(43, 76, 215);
}

.product-quantity-select-open:hover {
  border-color: rgb(43, 76, 215);
  box-shadow: rgb(43 76 215) 0px 0px 0px 1px;
}

.product-quantity-select:hover {
  border-color: rgb(126, 133, 155) !important;
}

.product-quantity-btn {
  border-right: 1.2px solid #a0a0a04d;
  padding-right: 15px;
}

.product-quantity-btn span {
  font-size: 0.8em;
  font-weight: 600;
}

.product-quantity-arrow svg {
  color: #81808096;
  transform: rotate(360deg);
  transition: all 300ms ease 0s;
}

.product-quantity-select-open .product-quantity-arrow svg {
  transform: rotate(180deg);
}

.product-quantity-menu {
  position: absolute;
  left: 0;
  top: 60px;
  background-color: #ffff;
  height: auto;
  width: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.253);
  border-radius: 5px;
}

.product-count {
  padding: 5px 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #000;
}

.product-count:hover {
  background-color: rgb(43, 76, 215);
  color: #fff;
}
.product-count:hover:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-count:hover:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-cart {
  width: 100%;
  margin-left: 10px;
}

.btn-cart {
  background-color: rgb(43, 76, 215);
  max-width: 350px;
  height: 50px;
  border: 0;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  font-size: 0.9em;
  font-weight: 700;
  cursor: pointer;
}

.btn-cart:active {
  transform: scale3d(0.95, 0.95, 1);
}

/* section-products */

.section-products {
  margin-top: 2rem;
  margin-bottom: 3rem;
  height: 100vh;
}

.section-products h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #3b3b3b;
  text-transform: capitalize;
  font-weight: 500;
}
.products-category {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* cart-section */

.cart-section {
  margin: 1.5rem 0;
  height: 100vh;
}
.cart-container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 0 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cart-section .cart-items {
  margin-right: 1rem;
  width: 100%;
}

.cart-section .card-item {
  max-width: 800px;
  height: 200px;
  width: 100%;
  min-height: 190px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  padding: 5px;
}

.cart-section .card-image {
  max-width: 170px;
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-right: 2rem;
}

/* footer */
.footer {
  width: 100%;
  background-color: #303030;
  text-align: center;
  padding: 15px 0;
}

.footer p {
  margin: 0;
  color: #f5f5f5;
  font-size: 1em;
  font-weight: 600;
}

.footer p a {
  color: #6770c4;
  font-size: 1em;
  font-weight: 600;
  margin: 0 4px;
}

/*  loading */
.loading-page {
  position: fixed;
  inset: 0;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-page_animation {
  width: 120px;
  height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.ball {
  width: 25px;
  height: 25px;
  background-color: #303030;
  border-radius: 50%;
  animation: bounce 0.5s alternate infinite;
}

.ball:nth-child(2) {
  animation-delay: 0.16s;
  background-color: rgba(55, 174, 4, 0.753);
}

.ball:nth-child(3) {
  background-color: rgba(43, 77, 215, 0.637);
  animation-delay: 0.32s;
}

@keyframes bounce {
  from {
    transform: scaleX(1.25);
  }

  to {
    transform: translateY(-50px) scaleX(1);
  }
}
